<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Name App</title>
</head>
<body>
    <h1>Flask Name App</h1>
    <form method="post" action="{{ url_for('index') }}">
        <label for="name">Enter your name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Submit</button>
    </form>
    {% if name %}
        <p>Your name is: {{ name }}</p>
    {% endif %}
</body>
</html>
